<div class="footer">
    <div class="footer__logo">
        <img src="assets/img/caixa_blanco.svg" alt="">
    </div>
    <div class="footer__links">
        <a href="https://www.segurcaixaadeslas.es/{{language}}/proteccion-de-datos" target="_blank">{{ 'footer.pdrg' | translate}}</a>
        <a href="https://www.segurcaixaadeslas.es/{{language}}/informacion-legal" target="_blank">{{ 'footer.info' | translate}}</a>
        <a href="https://www.segurcaixaadeslas.es/{{language}}/aviso-legal" target="_blank">{{ 'footer.legal' | translate}}</a>
        <a href="https://www.segurcaixaadeslas.es/{{language}}/particulares-sitio/Paginas/politica-cookies.html" target="_blank">{{ 'footer.cookies' | translate}}</a>
        <a href="https://www.segurcaixaadeslas.es/{{language}}/accesibilidad" target="_blank">{{ 'footer.access' | translate}}</a>
    </div>
</div>