@font-face {
	font-family: 'Roboto';
	src: url('src/assets/fonts/Roboto-Light.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Regular';
	src: url('src/assets/fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Bold';
	src: url('src/assets/fonts/Roboto-Bold.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
